bin/
obj/
tests/contact1x1_device2x2/
test3_globalTemperature/
test4_localTemperature/
test2_localTemperature/
postprocessing_scripts/__pycache__/
tests/prod_2xstructure/
tests/7-crossbar_selected/
runs/
voro/

# Other standard ignores
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.jpg

# Ignore files
output.txt
run_job.sh

# Ignore txt files
