bin/
obj/
data/
postprocessing/__pycache__/
final_parameters
runs/
voro/
Results_*/
.DS_Store

# Other standard ignores
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.jpg
*.png

# Ignore files
output.txt
run_job.sh
hosts

# Ignore txt files
